<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmation</title>
</head>
<body>

<h3>Confirmation Page</h3>

<div th:object="${reservation}">
    <p>id: <span th:text="*{id}"></span></p>
    <br>
    <p>Start time: <span th:text="*{startTime}"></span></p>
    <br>
    <p>End time: <span th:text="*{endTime}"></span></p>
    <br>
    <p>Number of people: <span th:text="*{numOfPeople}"></span></p>
    <br>
    <p>Note: <span th:text="*{note}"></span></p>
    <br>
    <p>User: <span th:text="*{user}"></span></p>
    <br>
    <p>Table: <span th:text="*{tables}"></span></p>
    <br>
    <p>Course: <span th:text="*{course.name}"></span></p>
    <br>
</div>

</body>
</html>